@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --extra-light-grey: #f4f4f4;
  --lighest-grey: #dbdbdb;
  --salmon: #ff9984;
  --light-grey: #b5b5b5;
  --darkest-grey: #5d5d5d;
  --dark-grey: #707070;
  --extra-dark-grey: #3f3f3f;
  --grey: #848484;
  --teal: #50b59b;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: center;
  background-color: var(--extra-light-grey);
}
