.time-tracker-container {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: theme("colors.lighestGrey");
  gap: 20px;
  padding: 5px 15px;
  border-radius: 35px;
}

.time-tracker-container .time-tracker-profile {
  display: flex;
  gap: 16px;
  justify-content: right;
  align-items: center;
}
